<div class="card">
  <h1><%= @message %></h1>
</div>
<div class="card">
  <h1>Your answer : <%= @answer %></h1>
</div>
<div class="card">
  <h1>The translation : <%= @translation %></h1>
</div>
<div class="card">
  <h1>Your score : <%= @score %></h1>
</div>
